aioredis==1.2.0
asgiref==2.3.2
astroid==2.0.4
async-timeout==3.0.1
attrs==18.2.0
autobahn==18.10.1
Automat==0.7.0
certifi==2018.10.15
channels==2.1.5
channels-redis==2.3.1
chardet==3.0.4
constantly==15.1.0
daphne==2.2.2
defusedxml==0.5.0
Django==2.2
django-allauth==0.38.0
django-cors-headers==2.4.0
django-rest-auth==0.9.3
django-rest-framework==0.1.0
djangorestframework==3.9.0
gunicorn==19.7.1
hiredis
hyperlink==18.0.0
idna==2.7
incremental
isort
lazy-object-proxy
mccabe
msgpack
oauthlib
psycopg2-binary
PyHamcrest
pylint
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
txaio
typed-ast
urllib3
whitenoise
wrapt
zope.interface